html, body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Phudu', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Base styles for the button */
.btn-glow {
  display: inline-block;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  padding: 50px 72px;
  border-radius: 25px;
  background-image: linear-gradient(135deg, #22577A 0%, #57CC99 50%, #80ED99 100%);
  background-size: 300% 300%;
  color: #FFFFFF;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  animation: gradient-animation 5s linear infinite;
}

/* Add glowing effect on hover */
.btn-glow:hover {
  box-shadow: 0 0 10px #57CC99, 0 0 20px #57CC99, 0 0 30px #57CC99, 0 0 40px #57CC99;
}

/* Add popping effect on active state */
.btn-glow:active {
  transform: scale(0.98);
  box-shadow: 0 0 5px #57CC99, 0 0 10px #57CC99, 0 0 15px #57CC99, 0 0 20px #57CC99;
}

/* Keyframes for gradient animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/* Add warp effect */
.btn-glow.warp {
  animation: warp-animation 5s forwards;
  box-shadow: none;
}

@keyframes warp-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}



/* Define the animation to transition between different black colors */
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
