

.college-icon-wrapper {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 12px 10px;
    font-weight: 800;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

   
  .college-pre-token-tooltip {
    position: absolute;
    display: none;
    top: -50px; /* Adjust this value to position the tooltip */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: #1F2937;
    text-align: center;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    z-index: 5;
    font-size: 0.775rem;
  }
  
  .grade-card:hover .college-pre-token-tooltip {
    display: block;
  }
  
  .component-attribute-lg:hover .college-pre-token-tooltip {
    display: block;
  
  }
  
  .grade-card {
    position: relative;
  }

  .college-icon-wrapper {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    position: relative;
  }

  .college-icon-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
    z-index: -1;
  }
  
  .college-icon-wrapper:hover::after {
    transform: translate(-50%, -50%) scale(1.2);
  }