.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  font-weight: 700;
}

.navbar a {
  text-decoration: none;
  color: black;
  margin-left: 15px;
  vertical-align: middle;
}

.navbar .brand {
  font-size: 18px;
  color: black;
}

/* Optional: Add a hover effect to the links */
.navbar a:hover {
  color: purple;
  transition: color 0.3s ease;
}


.navbar .nav-links {
  display: flex;
  gap: 16px;
  align-items: center;
}

.navbar .nav-link {
  color: #4a5568;
  text-decoration: none;
}

.navbar .user-dropdown {
  position: relative;
}

.navbar .user-dropdown button {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #4a5568;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar .user-dropdown .dropdown-menu {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  right: 0;
  margin-top: 8px;
  padding: 8px 0;
  width: 192px;
}

.navbar .user-dropdown .dropdown-item {
  display: block;
  padding: 8px 16px;
  color: #4a5568;
  text-decoration: none;
}

.navbar .user-dropdown .dropdown-item:hover {
  background-color: #f7fafc;
}


/* Search Bar */
.navbar .search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.searchTypeSelect {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  padding: 6px 12px;
  margin-right: 8px;
}

.searchInput {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  padding: 6px 12px;
  width: 200px;
}

/* Search Results Dropdown */
.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.my-component-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.my-component-list-item {
  padding: 8px;
}
