/* General styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Sora', sans-serif;
}

@keyframes laserEffect {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(130%);
  }
}

/* Navigation bar styles */
.navbar {

  background-image: linear-gradient(90deg, #99d98c 0%, #76C893 20%, #34A0A4 40%, #1A759F 60%, #184E77 100%);     
  background-size: 300% 300%;
  animation: gradientBackground 4s ease infinite;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;


  padding: 0 20px;
  overflow: visible;
  z-index: 10;
}

.navbar::after {

  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-image: linear-gradient(90deg, #99d98c 0%, #76C893 20%, #34A0A4 40%, #1A759F 60%, #184E77 100%);     
  box-shadow: 0 0 8px #184E77, 0 0 16px #76C893 ;

}

@media screen and (min-width: 0px) and (max-width: 641px) {
  .navbar {
    height: 50px;
  }
}
    /* Medium screens */
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .navbar {
    height: 60px;
  }
  }
@media screen and (min-width: 1025px) {
  .navbar {
    height: 75px;
  }
      }
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rollingBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.version {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #2B2D42;
  color: gold;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 14px;
  padding: 5px;
  position: relative;
}

.version::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, gold, #f5f5f5, gold);
  clip-path: circle(40% at 50% 50%);
  animation: goldGradient 5s infinite;
}

@keyframes goldGradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center-menu {
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
}


.center-menu--open .center-menu__item {
  transform: scale(1);
}
/*

.center-menu__circle-bg {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  left: -160%;
  top: -150%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
}
*/


.searchTypeSelect {
  position: absolute;
  left: 67%;
  margin-right: 0px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.searchInput {
  border: none;
  position: absolute;
  left: 76%;
  
  border-radius: 3px;
  padding: 8px 40px;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.my-component-list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.icon-wrapper {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 8px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
  z-index: -1;
}

.icon-wrapper:hover::after {
  transform: translate(-50%, -50%) scale(1.2);
}

.my-component-list-item {
  padding: 10px;
  border-bottom: 1px solid #333;

}

.my-component-list-item:hover {
  background-color: #ddd;
}

.my-component-list-item-selected {
  background-color: #ddd;
}

.center-menu__item:hover .navbar-tooltip {
  display: block;
}

.navbar-tooltip {
  display: none;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -4px);
  background-color: #1F2937;
  color: #ffffff;
  font-weight: 500;
  font-size: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.875rem;
  white-space: nowrap;
}

.search-results {
  position: absolute;
  height: 380px;
  top: 80%; /* Place the search results right below the search bar */
  right: 8.6%;
 /* Align the left side of the search results with the left side of the search bar */
  width: 15.5vw; /* Set the width of the search results to match the search bar */
  background-color: white;
  border: 1px solid #ccc; /* Add a border to the search results */
  border-top: none; /* Remove the top border to seamlessly connect the search bar and search results */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the search results */
  z-index: 1; /* Make sure the search results appear above other elements on the page */
}

.center-menu__circle {
  position: relative;
  background-color: #2B2D42;
  color: gold;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: visible;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-menu__circle::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, gold, #f5f5f5, gold);
  clip-path: circle(40% at 50% 50%);
  animation: goldGradient 5s infinite;
}



.center-menu__items {
  position: absolute;
  left: 15%;
  top: 5%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}

.center-menu__item {
  cursor: pointer;
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  z-index: 15;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: transform 0.3s, opacity 0.3s;
}

.center-menu__item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
  z-index: -1;
}

.center-menu__item:hover::after {
  transform: translate(-50%, -50%) scale(1.2);
}


.center-menu--open .center-menu__items {
  opacity: 1;
  visibility: visible;
}

.center-menu--open .center-menu__item {
  transform: scale(1);
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


